#hero {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  border-bottom: 0px;
  background: $white-color;
  font-weight: 400;
  color: $grey;
  padding: 0rem 5.6rem;
  margin-bottom: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;

  // If you want to set a background image on the hero section, uncomment these with yout custom image

  /* background: url("/src/assets/[your-image].png");
  background-position: center;
  background-size: cover; */

  @include respond(phone) {
    padding: 0rem $default-font-size;
  }

  .hero-title {
    font-size: 5.6rem;
    font-weight: 700;
    margin-bottom: 3.2rem;
    text-align: left;

    @include respond(tab-land) {
      font-size: 4rem;
    }
    @include respond(tab-port) {
      font-size: 3.6rem;
      text-align: center;
    }
    @include respond(phone) {
      font-size: 3.5rem;
      line-height: 1.5;
    }
    @include respond(phone-xs) {
      font-size: 2.8rem;
    }
  }

  .hero-location {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 2rem;
    text-align: left;

    @include respond(tab-land) {
      font-size: 2rem;
    }
    @include respond(tab-port) {
      font-size: 1.5rem;
      text-align: center;
    }
    @include respond(phone) {
      font-size: 1.5rem;
      line-height: 1.5;
    }
    @include respond(phone-xs) {
      font-size: 1.2rem;
    }

    .fa {
      margin-right: 1.5rem;
      font-size: 3rem;
    }
  }

  .hero-cta {
    display: flex;

    @include respond(tab-port) {
      justify-content: center;
    }

    & a {
      font-size: 2.4rem;

      @include respond(phone) {
        font-size: 2rem;
      }
    }
  }

  @keyframes slideUp {
    from {
      right: calc(50% - 9vw);
      top: calc(50% - 6vw);
      border-top: $triangle-length solid $grey;
      border-bottom: $triangle-length solid transparent;
      border-left: 18.1vw solid transparent;
    }

    to {
      right: 0;
      top: 0;
      border-top: calc($triangle-length * 2) solid $grey;
      border-bottom: calc($triangle-length * 2) solid transparent;
      border-left: calc(18.1vw * 2) solid transparent;
    }
  }

  .hero-right-triangle {
    width: 0;
    height: 0;

    border-top: $triangle-length solid $grey;
    border-bottom: $triangle-length solid transparent;
    border-left: 18.1vw solid transparent;

    position: absolute;
    right: calc(50% - 9vw);
    top: calc(50% - 6vw);

    animation: slideUp 1s ease-out 1s 1 normal forwards;
  }

  @keyframes slideDown {
    from {
      right: calc(50% - 9vw);
      bottom: calc(50% - 6vw);
      border-top: $triangle-length solid transparent;
      border-right: $triangle-length solid transparent;
      border-left: 18.1vw solid $grey;
    }

    to {
      left: 0;
      bottom: 0;
      border-top: calc($triangle-length * 2) solid transparent;
      border-right: calc($triangle-length * 2) solid transparent;
      border-left: calc(18.1vw * 2) solid $grey;
    }
  }

  .hero-left-triangle {
    width: 0;
    height: 0;
    border-top: $triangle-length solid transparent;
    border-right: $triangle-length solid transparent;
    border-left: 18.1vw solid $grey;

    position: absolute;
    left: calc(50% - 9vw);
    bottom: calc(50% - 6vw);

    animation: slideDown 1s ease-out 1s 1 normal forwards;
  }

  @keyframes fadeInitials {
    from {
      display: flex;
    }

    to {
      display: none;
    }
  }

  .hero-initials {
    color: white;
    font-size: 8em;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;

    animation: fadeInitials 500ms linear 100ms 1 normal forwards;

    @include respond(tab-land) {
      font-size: 6rem;
    }
    @include respond(tab-port) {
      font-size: 4rem;
    }
    @include respond(phone) {
      font-size: 3rem;
    }
    @include respond(phone-xs) {
      font-size: 2rem;
    }
  }
}
