// COLORS
$primary-color: #02aab0;
$secondary-color: #4990d3;
$highlight-color: #fd4039;

$purple: #7664b6;
$green: #96ceb4;
// $yellow: #ffcc5c;
$pink: #f2565b;

$white-color: #fff;
$dark-grey: #333333;
$dark-blue: #272341; // For Headings
$grey: #3d3d3d; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;

// HERO ANIMATIONS
$triangle-length: 12vw;
